<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diko's Projects</title>

    {{> font}}

    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
    {{> navbar}}

    <div class="w-full bg-white pt-12 pb-20">
        <div class="w-full mx-auto max-w-[350px] md:max-w-2xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-[1300px] flex flex-col gap-y-6">
            <div class="flex flex-row gap-x-3 items-center">
                <p class="font-poppins font-bold text-black text-[24px] lg:text-[26px] xl:text-[28px] uppercase">{{project.name}}</p>
                <a target="_blank" href="{{project.githubLink}}" class="group"><img src="/images/github.svg" class="w-11 lg:w-12 xl:w-14 group-hover:scale-110 duration-400" alt=""></a>
            </div>
            
            {{!-- IMAGE --}}
            <div class="flex relative mb-12">
                <img src="{{project.image}}" alt="" class="rounded-[18px] shadow-lg">
                <div class="bg-white w-[90%] xl:w-[80%] flex flex-row items-center justify-evenly rounded-[18px] shadow-lg absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-1/2">
                    <div class="flex flex-col py-3">
                        <p class="text-center font-poppins text-black text-[12px] lg:text-[16px]">Kategori</p>
                        <p class="text-center font-poppins font-bold text-primary-brown text-[12px] lg:text-[16px] capitalize">{{project.category.name}}</p>
                    </div>

                    <div class="border-r border-black self-stretch"></div>

                    <div class="flex flex-col py-3">
                        <p class="text-center font-poppins text-black text-[12px] lg:text-[16px]">Tipe</p>
                        <p class="text-center font-poppins font-bold text-primary-brown text-[12px] lg:text-[16px] uppercase">{{project.type}}</p>
                    </div>

                    <div class="border-r border-black self-stretch"></div>

                    <div class="flex flex-col py-3">
                        <p class="text-center font-poppins text-black text-[12px] lg:text-[16px]">Tanggal</p>
                        <p class="text-center font-poppins font-bold text-primary-brown text-[12px] lg:text-[16px] capitalize">{{project.date}}</p>
                    </div>
                </div>
            </div>

            <div class="font-poppins font-regular text-[14px] lg:text-[16px] xl:text-[18px] text-soft-black text-justify leading-8 tracking-wide">{{{project.description}}}</div>

            {{!-- SKILL --}}
            {{#if project.hasSkills}}
            <div class="flex flex-col gap-y-2 mb-4">
                <p class="font-federant font-regular underline  text-primary-brown text-[34px] lg:text-[40px] xl:text-[44px] text-start">SKILLS</p>
                <div class="flex flex-col gap-y-3">
                    {{#if project.hardskills.length}}
                    <div class="flex flex-col gap-y-2 md:flex-row md:items-center md:gap-x-4 md:gap-y-0">
                        <div class="md:w-[200px] md:flex-shrink-0 md:basis-[200px]">
                            <p class="font-federant font-regular text-black text-[24px] md:text-[22px] lg:text-[28px] xl:text-[32px]">Hard Skills</p>
                        </div>
                        <div class="flex flex-row scroll-start gap-x-4 overflow-x-auto scroll-smooth snap-x snap-mandatory hide-scrollbar">
                            {{#each project.hardskills}}
                            <div class="flex flex-shrink-0 flex-row gap-x-3 items-center rounded-full border-3 border-primary-brown py-2 px-6">
                                <img src="{{this.image}}" alt="" class="w-8 xl:w-12 rounded-full">
                                <p class="font-poppins font-regular text-black text-[18px] xl:text-[20px]">{{this.name}}</p>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}

                    {{#if project.softskills.length}}
                    <div class="flex flex-col gap-y-2 md:flex-row md:items-center md:gap-x-4 md:gap-y-0">
                        <div class="md:w-[200px] md:flex-shrink-0 md:basis-[200px]">
                            <p class="font-federant font-regular text-black text-[24px] md:text-[22px] lg:text-[28px] xl:text-[32px]">Soft Skills</p>
                        </div>
                        <div class="flex flex-row scroll-start gap-x-4 overflow-x-auto scroll-smooth snap-x snap-mandatory hide-scrollbar">
                            {{#each project.softskills}}
                            <div class="flex flex-shrink-0 flex-row gap-x-3 items-center rounded-full border-3 border-primary-brown py-2 px-6">
                                <img src="{{this.image}}" alt="" class="w-8 xl:w-12 rounded-full">
                                <p class="font-poppins font-regular text-black text-[18px] xl:text-[20px]">{{this.name}}</p>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}

                    {{#if project.softwareskills.length}}
                    <div class="flex flex-col gap-y-2 md:flex-row md:items-center md:gap-x-4 md:gap-y-0 w-full">
                        <div class="md:w-[200px] md:flex-shrink-0 md:basis-[200px]">
                            <p class="font-federant font-regular text-black text-[24px] md:text-[22px] lg:text-[28px] xl:text-[32px]">Tools</p>
                        </div>
                        <div class="flex flex-row scroll-start gap-x-4 overflow-x-auto scroll-smooth snap-x snap-mandatory hide-scrollbar">
                            {{#each project.softwareskills}}
                            <div class="flex flex-shrink-0 flex-row gap-x-3 items-center rounded-full border-3 border-primary-brown py-2 px-6">
                                <img src="{{this.image}}" alt="" class="w-8 xl:w-12 rounded-full">
                                <p class="font-poppins font-regular text-black text-[18px] xl:text-[20px]">{{this.name}}</p>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
            {{/if}}

            {{!-- DOCUMENTATION --}}
            {{#if project.documentations}}
            <div class="flex flex-col gap-y-2 mb-4">
                <p class="font-federant font-regular underline  text-primary-brown text-[34px] lg:text-[40px] xl:text-[44px] text-start">DOCUMENTATIONS</p>
                <div class="flex flex-row gap-x-4 overflow-x-auto scroll-smooth snap-x snap-mandatory hide-scrollbar">
                    {{#each project.documentations}}
                        <img src="{{this.image}}" alt="" class="rounded-[18px]">
                    {{/each}}
                </div>
            </div>
            {{/if}}
        </div>
    </div>

    {{> flowbite}}
    {{> navbarScript}}

    {{!-- <script>
        window.addEventListener('DOMContentLoaded', () => {
            const scrollParents = document.querySelectorAll('.scroll-start');
            scrollParents.forEach(scrollEl => {
                scrollEl.scrollLeft = (scrollEl.scrollWidth - scrollEl.clientWidth) / 2.5;
            });
        });
    </script> --}}
</body>
</html>