<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Diko's Experiences</title>

        {{> font}}

        <link rel="stylesheet" href="/css/output.css" />
    </head>
    <body>
        {{> navbar}}

        <div class="w-full bg-white py-16">
            <div class="w-full mx-auto max-w-[350px] md:max-w-2xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-[1300px] flex flex-col gap-y-8">
                <p class="font-poppins font-bold text-black text-[32px] md:text-[36px] xl:text-[38px] uppercase">PENGALAMAN SAYA</p>
                {{#if experiences.length}}
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                    {{!-- CARD ITEMS --}}
                    {{#each experiences}}
                    <div class="flex flex-col rounded-[18px] shadow-md">
                        <img src="{{this.image}}" alt="" class="w-full rounded-t-[18px]">
                        <div class="bg-white px-3 pt-9 pb-3 flex flex-col gap-y-1 relative">

                            <div class="bg-white flex justify-center items-center px-3 py-4 shadow-lg rounded-[18px] absolute z-10 top-0 left-2 -translate-y-1/2">
                                <p class="font-poppins font-semibold text-black text-[14px]">{{this.position}}</p>
                            </div>

                            <p class="uppercase font-poppins font-bold text-[18px]">{{this.name}}</p>
                            <p class="font-poppins font-light text-[14px] text-soft-gray mb-3">{{truncate this.description 90}}</p>
                            <div class="flex flex-row justify-between">
                                <div class="flex flex-col justify-between">
                                    <p class="font-poppins italic font-regular text-[14px] text-primary-brown">Online</p>
                                    <p class="font-poppins italic font-regular text-[14px] text-primary-brown">2024-2025</p>
                                </div>
                                <a href="/experiences/{{this.id}}" class="flex flex-row justify-center items-center gap-x-1 bg-primary-brown rounded-[10px] py-2 px-4 hover:scale-105 duration-300">
                                    <p class="font-poppins font-bold text-[14px] text-white">Detail</p>
                                    <img src="/images/arrow.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{else}}
                <p class="font-poppins font-regular text-[14px] lg:text-[16px] xl:text-[18px] lg:max-w-[80%] lg:mx-auto text-soft-gray text-center">Belum ada pengalaman</p>
                {{/if}}
            </div>
        </div>

        {{> navbarScript}}
    </body>
</html>